<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TotalFleetSmokeSuite" thread-count="2" parallel="classes">
	<test name="TotalFleetSmokeTestCases">
		<classes>
			<class name="org.cts.oneframework.cucumber.testrunners.SmokeSuiteRunner" />
		</classes>
	</test>

</suite> <!-- Suite -->
